<table width=260>
    <tr>
    <td width=180><center><font color="LEVEL">Zones<font></center></td>
    <td width=40><button value="Новая" action="bypass -h scripts_diablo.riftZoneEditor:createZone " width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<table width=260>
<tr><td>Zone</td>/tr>
%zones_list%
</table>