<table width=280>
    <tr>
        <td width=100><center><font color="LEVEL">%zone_name%<font></center></td>
        <td width=90><button value="Back" action="bypass -h script_diablo.riftZoneEditor:showZones " width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td width=90><button value="Новая" action="bypass -h scripts_diablo.riftZoneEditor:createZone " width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<table width=280>
    <tr>
        <td><edit var="title" width=90></td>
        <td><button value="Обновить" action="bypass -h scripts_diablo.riftZoneEditor:updateZone title $title " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="УДАЛИТЬ" action="bypass -h scripts_diablo.riftZoneEditor:removeZone" width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"> </td>
    </tr>
    <tr>
        <td>Start npc %zone_start% </td>
        <td><button value="Обновить" action="bypass -h scripts_diablo.riftZoneEditor:updateZone startNpc " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
    <tr>
        <td>End npc %zone_end% </td>
        <td><button value="Обновить" action="bypass -h scripts_diablo.riftZoneEditor:updateZone endNpc " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
    <tr>
        <td>Кол-во мобцов %zone_mobscount%</td>
        <td><edit var="mobs" width=50></td>
        <td><button value="Обновить" action="bypass -h scripts_diablo.riftZoneEditor:updateZone mobsCount $mobs " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
    <tr>
        <td>Точки зоны</td>
        <td><button value="Добавить" action="bypass -h scripts_diablo.riftZoneEditor:updateZone addPoint " width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="Удалить все" action="bypass -h scripts_diablo.riftZoneEditor:updateZone removeAllPoints " width=70 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<table width=280>
    <tr><td>Номер точки</td><td>Управление</td></tr>
    %zone_points%
</table>