<title>Princess Extra Buffs</title><br><br>
<table>
	<tr>
		<td width=500 align=center>
			<font color=0099FF>Every Buff cost 1 Buff Coin if your lvl is up to 61. You can exchance PC Bang to Buff Coins! </font>
		</td>
	</tr>
</table>
<center>
	<table width=600 height=370>
			<tr>
				<td>
					<center>
						<table>
							<tr>
								<td><center>Free Schemes<br></center></td>
							</tr>
							<tr>
								<td>
									<center><button value="Mage Scheme" action="bypass _bbsblist:mage:3" width=130 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center>
									<center><button value="Fighter Scheme" action="bypass _bbsblist:fighter:3" width=130 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center>
								</td>
							</tr><br><br><br><br>
							<tr>
								<td>
									<center>
									<table>
										<tr>
											<td><button value="Cancel" action="bypass _bbsbcancel:3" width=55 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
											<td><button value="HP\CP\MP" action="bypass _bbsbregen:3" width=70 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
										</tr>
									</table>
									</center>
								</td>
							</tr>
						</table>
					</center> 
					<center>
						<table>
							<tr>
								<td>
									<center><button value="%aim%" action="bypass _bbsbaim:3;" width=130 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center>
								</td>
							</tr>
						</table>
					</center>  
					<center>
						<table>
							<tr>
								<td><center>Scheme Name:</center><br></td>
							</tr>
							<tr>
								<td>
									<center><edit var="name" width=130 height=10 length=10><br><br></center>
									<center><button value="Create" action="bypass _bbsbsave:3: $name" width=130 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center>
								</td>
							</tr>
							<tr>
								<td>
									<center>%list_sheme%<br>
									1-61 lvl - <font color="00FF00">Free Buffs</font><br>
									61-85 lvl - <font color="00FF00">10 Buff Coin</font><br>
									<font color="0099FF">How to Create Scheme:</font><br>
									<font color="00FF00">First Buff up !<br>
									Tipe <font color="FF0000">Name</font> & </font><font color="FF0000">Create</font><br>
									<br></center>
								</td>
							</tr>
						</table>
					</center> 
				</td>
				<td width=450 align=center>
					<center>
					<table width=260>
					<tr>
						<td><center><button value="<< Back" action="bypass _bbsbuff:index" width=90 height=18 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center></td>
						<td><center><font color=F2C202>Page 2</font></center></td>
						<td><center><button value="Next >>" action="bypass _bbsbuff:index" width=90 height=18 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center></td>
					</tr>
					</table>
					<table width=400>
						<tr>
							<td align=center>
								<img src=icon.skill1502 width=32 height=32><button value="Imp. Critical" action="bypass _bbsbsingle:1502:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1504 width=32 height=32><button value="Imp. Movement" action="bypass _bbsbsingle:1504:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1389 width=32 height=32><button value="G. Shield" action="bypass _bbsbsingle:1389:3:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill0310 width=32 height=32><button value="Vampire" action="bypass _bbsbsingle:310:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0269 width=32 height=32><button value="Hunter" action="bypass _bbsbsingle:269:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0266 width=32 height=32><button value="Water" action="bypass _bbsbsingle:266:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0363 width=32 height=32><button value="Meditation" action="bypass _bbsbsingle:363:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
							</td>
							<td align=center>
								<img src=icon.skill1503 width=32 height=32><button value="Imp. Shield" action="bypass _bbsbsingle:1503:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1519 width=32 height=32><button value="Blood Awake" action="bypass _bbsbsingle:1519:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill1388 width=32 height=32><button value="G. Might" action="bypass _bbsbsingle:1388:3:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill0273 width=32 height=32><button value="Mystic" action="bypass _bbsbsingle:273:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">								
								<img src=icon.skill0265 width=32 height=32><button value="Life" action="bypass _bbsbsingle:265:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0305 width=32 height=32><button value="Vengeance" action="bypass _bbsbsingle:305:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
							<img src= width=32 height=32><br><br>
							</td>
							<td align=center>
								<img src=icon.skill1499 width=32 height=32><button value="Imp. Combat" action="bypass _bbsbsingle:1499:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1461 width=32 height=32><button value="Chant Protect" action="bypass _bbsbsingle:1461:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0271 width=32 height=32><button value="Warrior" action="bypass _bbsbsingle:271:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill0365 width=32 height=32><button value="Siren's" action="bypass _bbsbsingle:365:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0264 width=32 height=32><button value="Earth" action="bypass _bbsbsingle:264:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0364 width=32 height=32><button value="Champion" action="bypass _bbsbsingle:364:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">								
								<img src=icon.skill1323 width=32 height=32><button value="Noblesse" action="bypass _bbsbsingle:1323:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">								
							</td>
							<td align=center>
								<img src=icon.skill1500 width=32 height=32><button value="Imp. Magic" action="bypass _bbsbsingle:1500:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1363 width=32 height=32><button value="Chant Victory" action="bypass _bbsbsingle:1363:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0274 width=32 height=32><button value="Fire" action="bypass _bbsbsingle:274:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0276 width=32 height=32><button value="Concentration" action="bypass _bbsbsingle:276:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0304 width=32 height=32><button value="Vitality" action="bypass _bbsbsingle:304:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill0349 width=32 height=32><button value="Renewal" action="bypass _bbsbsingle:349:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">								
								<img src= width=32 height=32><br><br>
							</td>
							<td align=center>
								<img src=icon.skill1501 width=32 height=32><button value="Imp. Condition" action="bypass _bbsbsingle:1501:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1413 width=32 height=32><button value="Magnus' Chant" action="bypass _bbsbsingle:1413:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0275 width=32 height=32><button value="Fury" action="bypass _bbsbsingle:275:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0272 width=32 height=32><button value="Inspiration" action="bypass _bbsbsingle:272:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0267 width=32 height=32><button value="Warding" action="bypass _bbsbsingle:267:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill0268 width=32 height=32><button value="Wind" action="bypass _bbsbsingle:268:1:3" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
							<img src= width=32 height=32><br><br>
							</td>
						</tr>
					</table>
					</center>
				</td>
			</tr>
	</table>
</center>