<title>Princess Extra Buffs</title><br><br>
<table>
	<tr>
		<td width=500 align=center>
			<font color=0099FF>Every Buff cost 1 Buff Coin if your lvl is up to 61. You can exchance PC Bang to Buff Coins! </font>
		</td>
	</tr>
</table>
<center>
	<table width=600 height=370>
			<tr>
				<td>
					<center>
						<table>
							<tr>
								<td><center>Free Schemes<br></center></td>
							</tr>
							<tr>
								<td>
									<center><button value="Mage Scheme" action="bypass _bbsblist:mage:index" width=130 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center>
									<center><button value="Fighter Scheme" action="bypass _bbsblist:fighter:index" width=130 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center>
								</td>
							</tr><br><br><br><br>
							<tr>
								<td>
									<center>
									<table>
										<tr>
											<td><button value="Cancel" action="bypass _bbsbcancel:index" width=55 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
											<td><button value="HP\CP\MP" action="bypass _bbsbregen:index" width=70 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
										</tr>
									</table>
									</center>
								</td>
							</tr>
						</table>
					</center> 
					<center>
						<table>
							<tr>
								<td>
									<center><button value="%aim%" action="bypass _bbsbaim:index;" width=130 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center>
								</td>
							</tr>
						</table>
					</center>  
					<center>
						<table>
							<tr>
								<td><center>Scheme Name:</center><br></td>
							</tr>
							<tr>
								<td>
									<center><edit var="name" width=130 height=10 length=10><br><br></center>
									<center><button value="Create" action="bypass _bbsbsave:index: $name" width=130 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center>
								</td>
							</tr>
							<tr>
								<td>
									<center>%list_sheme%<br>
									1-61 lvl - <font color="00FF00">Free Buffs</font><br>
									61-85 lvl - <font color="00FF00">10 Buff Coin</font><br>
									<font color="0099FF">How to Create Scheme:</font><br>
									<font color="00FF00">First Buff up !<br>
									Tipe <font color="FF0000">Name</font> & </font><font color="FF0000">Create</font><br>
									<br></center>
								</td>
							</tr>
						</table>
					</center> 
				</td>   
				<td width=450 align=center>
					<center>
					<table width=260>
					<tr>
						<td><center><button value="<< Back" action="bypass _bbsbuff:3" width=90 height=18 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center></td>
						<td><center><font color=F2C202>Page 1</font></center></td>
						<td><center><button value="Next >>" action="bypass _bbsbuff:3" width=90 height=18 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></center></td>
					</tr>
					</table>
					<table width=400>
						<tr>
							<td align=center>
								<img src=icon.skill1077 width=32 height=32><button value="Focus" action="bypass _bbsbsingle:1077:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">  
								<img src=icon.skill1242 width=32 height=32><button value="D. Whisper" action="bypass _bbsbsingle:1242:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill1086 width=32 height=32><button value="Haste" action="bypass _bbsbsingle:1086:2:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1240 width=32 height=32><button value="Guidance" action="bypass _bbsbsingle:1240:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1243 width=32 height=32><button value="Bless Shield" action="bypass _bbsbsingle:1243:6:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1035 width=32 height=32><button value="Mental Shield" action="bypass _bbsbsingle:1035:4:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
							</td>
							<td align=center>
								<img src=icon.skill1045 width=32 height=32><button value="Bles. Body" action="bypass _bbsbsingle:1045:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1048 width=32 height=32><button value="Bles. Soul" action="bypass _bbsbsingle:1048:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1085 width=32 height=32><button value="Acumen" action="bypass _bbsbsingle:1085:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">  
								<img src=icon.skill1284 width=32 height=32><button value="Revenge" action="bypass _bbsbsingle:1284:1:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1044 width=32 height=32><button value="Regeneration" action="bypass _bbsbsingle:1044:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1068 width=32 height=32><button value="Might" action="bypass _bbsbsingle:1068:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
							</td>
							<td align=center>
								<img src=icon.skill1040 width=32 height=32><button value="Shield" action="bypass _bbsbsingle:1040:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1036 width=32 height=32><button value="M. Barrier" action="bypass _bbsbsingle:1036:2:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1268 width=32 height=32><button value="Vamp. Rage" action="bypass _bbsbsingle:1268:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1204 width=32 height=32><button value="Wind Walk" action="bypass _bbsbsingle:1204:2:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1062 width=32 height=32><button value="Ber. Spirit" action="bypass _bbsbsingle:1062:2:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1073 width=32 height=32><button value="Kiss of Eva" action="bypass _bbsbsingle:1073:2:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
							</td>
							<td align=center>
								<img src=icon.skill1078 width=32 height=32><button value="Concentration" action="bypass _bbsbsingle:1078:6:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill1087 width=32 height=32><button value="Agility" action="bypass _bbsbsingle:1087:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1397 width=32 height=32><button value="Clarity" action="bypass _bbsbsingle:1397:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1059 width=32 height=32><button value="Empower" action="bypass _bbsbsingle:1059:3:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill1303 width=32 height=32><button value="Wild Magic" action="bypass _bbsbsingle:1303:2:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"> 
								<img src=icon.skill1352 width=32 height=32><button value="Elemental P." action="bypass _bbsbsingle:1352:1:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
							</td>
							<td align=center>
								<img src=icon.skill1259 width=32 height=32><button value="Resist Shock" action="bypass _bbsbsingle:1259:4:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1304 width=32 height=32><button value="Advance Block" action="bypass _bbsbsingle:1304:1:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1354 width=32 height=32><button value="Arcane Pro." action="bypass _bbsbsingle:1354:1:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1356 width=32 height=32><button value="Pro. of Fire" action="bypass _bbsbsingle:1356:1:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1355 width=32 height=32><button value="Pro. of Water" action="bypass _bbsbsingle:1355:1:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								<img src=icon.skill1357 width=32 height=32><button value="Pro. of Wind" action="bypass _bbsbsingle:1357:1:index" width=90 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
								</td>
						</tr>
					</table>
					</center>
				</td>
			</tr>
	</table>
</center>