<title>L2Tales Admin Panel</title>
<center><table width=260 bgcolor=DAFF7F>
<tr>
<td><button value="Main" action="bypass -h admin_admin" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Events" action="bypass -h admin_show_html events/events.htm" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Chars" action="bypass -h admin_char_manage" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Server" action="bypass -h admin_server admserver.htm" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="GM Shop" action="bypass -h admin_gmshop" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr></table></center><br>
<center>
<table width=260>
<tr>
<td><button value="Announcements" action="bypass -h admin_list_announcements" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Teleport Menu" action="bypass -h admin_show_moves" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Create Item" action="bypass -h admin_itemcreate" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Petitions" action="bypass -h admin_view_petitions" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Residences" action="bypass -h admin_residence_list" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Enchant" action="bypass -h admin_enchant" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="List Spawns" action="bypass -h admin_list_spawns $menu_command" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Npc Spawn" action="bypass -h admin_show_spawns" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Find Mammon" action="bypass -h admin_find_mammon" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Ride" action="bypass -h admin_show_html ride.htm" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
<tr>
<td><button value="Edit Class" action="bypass -h admin_show_html setclass.htm" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Char Sublass" action="bypass -h admin_show_html charsubclasses.htm" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
<tr>
<td><button value="Clans" action="bypass -h admin_show_html pledgemanage.htm" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Transforms" action="bypass -h admin_show_html transform.htm" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
<tr>
<td><button value="Manor" action="bypass -h admin_manor" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Olympiad" action="bypass -h admin_show_html olympiad.htm" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
<tr>
<td><button value="Bot Report" action="bypass -h admin_checkbots" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Attribute" action="bypass -h admin_show_html attribute.htm" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
</table></center><br>
<center>Fast Commands:</center>
<center><edit var="menu_command" width=100 height=12></center>
<center>
<table>
<tr>
<td><button value="Kick" action="bypass -h admin_kick $menu_command" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Kill" action="bypass -h admin_kill" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Delete" action="bypass -h admin_delete" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Ban" action="bypass -h admin_ban $menu_command" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Invis" action="bypass -h admin_invis" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Res" action="bypass -h admin_res" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Karma" action="bypass -h admin_setkarma $menu_command" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Snoop" action="bypass -h admin_snoop" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Open" action="bypass -h admin_open" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Close" action="bypass -h admin_close" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Invul" action="bypass -h admin_invul" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Recall" action="bypass -h admin_recall_npc" width=40 height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>

</tr>
</table>
<table width=270><tr>
<tr>
<td><button value="Silence" action="bypass -h admin_silence" width=85 height=17 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Wyvern" action="bypass -h admin_wr" width=85 height=17 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Strider" action="bypass -h admin_sr" width=85 height=17 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
</table>
<table width=270><tr>
<td>
<font color="LEVEL">GM Speed:</font>
</td>
<td><button value="1" action="bypass -h admin_gmspeed 1" width=35 height=21 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="2" action="bypass -h admin_gmspeed 2" width=35 height=21 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="3" action="bypass -h admin_gmspeed 3" width=35 height=21 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="4" action="bypass -h admin_gmspeed 4" width=35 height=21 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Off" action="bypass -h admin_gmspeed 0" width=35 height=21 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
</table>

</center>