﻿<title>l2febellion Manage Char</title>
<center>
<table width=260 bgcolor=DAFF7F>
<tr>
<td><button value="Меню" action="bypass -h admin_admin" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Events" action="bypass -h admin_show_html events/events.htm" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Chars" action="bypass -h admin_char_manage" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Server" action="bypass -h admin_server admserver.htm" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="GM Shop" action="bypass -h admin_gmshop" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr></table><br>
<table width=260>
<tr><td><font color="LEVEL">Character name:</font></td><td><edit var="name" width=90></td></tr><br>
<tr><td><font color="LEVEL">Time/Karma:</font></td><td><edit var="time" width=90></td></tr><br>
<tr><td><font color="LEVEL">Reason:</font></td><td><edit var="reason" width=90></td></tr><br>
</table><br>
<table><tr>
<td><button value="Unban"  action="bypass -h admin_unban $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Ban"  action="bypass -h admin_ban $name $time $reason" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Karma"  action="bypass -h admin_ckarma $name $time $reason" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Kick" action="bypass -h admin_kick_menu $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
<tr>
<td><button value="Go to" action="bypass -h admin_goto_char_menu $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Kill" action="bypass -h admin_kill_menu $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Recall" action="bypass -h admin_recall_char_menu $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Unban" action="bypass -h admin_unban_menu $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
<tr>
<td><button value="AccBan" action="bypass -h admin_acc_ban $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="AccUnBan" action="bypass -h admin_acc_unban $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="IpUnBlock" action="bypass -h admin_ipunblock $reason" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="IpBan" action="bypass -h admin_ipban $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
<tr>
<td><button value="IpUnBan" action="bypass -h admin_ipunban $reason" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Ipchar" action="bypass -h admin_char $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="IpBlock" action="bypass -h admin_ipblock $reason" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="IpCharBan" action="bypass -h admin_ipcharban $name" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
<tr>
<td><button value="Trade Ban" action="bypass -h admin_trade_ban $qbox" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Trade Unb" action="bypass -h admin_trade_unban $qbox" width=70 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
<tr>
</tr>
</table></center>