﻿<title>Community Board - Blacksmith shop</title>
<br><br>
<br><br>
<br>
<table width=500>
<tr><td height=410>
<center>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
<center><button value="Upgrade weapon" action="bypass _bbsmultisell:3112602;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator"></center>
<center><button value="Make an even exchange of weapons" action="bypass _bbsmultisell:3112603;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator"></center>
<center><button value="Complete a Foundation Item" action="bypass _bbsmultisell:3112604;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator"></center>
<center><button value="Craft S-Grade Dualsword" action="bypass _bbsmultisell:3112605;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator"></center>
<center><button value="Bestow special capability on S-Grade weapon" action="bypass _bbsmultisell:3112606;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator"></center>
<center><button value="Release seal on S-Grade armor" action="bypass _bbsmultisell:3112607;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator"></center>
<center><button value="Release seal on S-Grade accessory" action="bypass _bbsmultisell:3112608;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator"></center>
<center><button value="Craft A-Grade Dualsword" action="bypass _bbsmultisell:3112609;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator"></center>
	</td>
    <td>
<button value="Bestow special capability on A-Grade weapon" action="bypass _bbsmultisell:3112610;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator">
<button value="Release seal on A-Grade armor" action="bypass _bbsmultisell:3112611;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator">
<button value="Release seal on A-Grade accessory" action="bypass _bbsmultisell:3112612;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator">
<button value="Re-seal A-Grade armor" action="bypass _bbsmultisell:3112613;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator">
<button value="I Wish to Buy Something" action="bypass _bbsmultisell:3111301;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator">
<button value="Remove a weapon's special capability" action="bypass _bbsmultisell:3112601;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator">
<button value="Exchange rare upper armor for regular upper armor" action="bypass _bbsmultisell:3112615;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator">
<button value="Exchange stone of the Seven Sign's" action="bypass _bbsmultisell:400;_bbspage:bshop" width=270 height=25 back="L2UI_ct1.Button_DF_Calculator" fore="L2UI_ct1.Button_DF_Calculator">
	 </td>
	</tr>
</table>
</td></tr>
</table>