<center><title>%npc_name%</title>
<table width=300 bgcolor=110b0b>
	<tr>
		<td>
			<center><font color=a61010 name="hs12">%npc_name%</font></center>
			<br>
		</td>
	</tr>
	<tr>
		<td>
			<center>%info%</center>
		</td>
	</tr>
</table>
</center>