!Jack Sage:



Look me straight in the eyes and answer me. Haven't you already received the Gift of Vitality? If you lie, I will break your neck.

The <font color="LEVEL">Gift of Vitality</font> buff <font color="LEVEL">reuse</font> is <font color="LEVEL">6</font> hours!


The <font color="LEVEL">Gift of Vitality</font> buff will <font color="F76541">disappear</font> when switching <font color="LEVEL">sub-classes</font>.)






[npc_%objectId%_Link default/10.htm|Back]