!At your command the clan will be dissolved.

<button value="Request Dissolution" action="bypass -h npc_%objectId%_dissolve_clan" width=100 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
<button value="Cancel" action="bypass -h npc_%objectId%_Link villagemaster/clan-01.htm" width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">

<font color=red>NOTE: The Recovery Option is not implemented yet! After click button clan dissolve in a tick!</font>

<font color=red>Note: The optional recovery clan yet implemented! Clan removed instantly with all the things you click!</font>