<title>Beta Npc</title>
<br1>
<center><font color="a02626" name="hs12">Welcome to L2Tales!</font>
<br>
<font color="c44141">I am here just for BETA, take what you need and test our server.</font>
<br>
<button value="Increase my Level" action="bypass -h npc_%objectId%_level" width=200 height=32 back="L2UI_ct1.OlympiadWnd_DF_HeroConfirm_df" fore="L2UI_ct1.OlympiadWnd_DF_HeroConfirm">
<button value="Give me Adena" action="bypass -h npc_%objectId%_adena" width=200 height=32 back="L2UI_ct1.OlympiadWnd_DF_HeroConfirm_df" fore="L2UI_ct1.OlympiadWnd_DF_HeroConfirm">
<button value="Make me Nobless" action="bypass -h npc_%objectId%_noble" width=200 height=32 back="L2UI_ct1.OlympiadWnd_DF_HeroConfirm_df" fore="L2UI_ct1.OlympiadWnd_DF_HeroConfirm">
<button value="Make me Hero" action="bypass -h npc_%objectId%_hero" width=200 height=32 back="L2UI_ct1.OlympiadWnd_DF_HeroConfirm_df" fore="L2UI_ct1.OlympiadWnd_DF_HeroConfirm">
<button value="Give me Vesper" action="bypass -h npc_%objectId%_multisell 0000001" width=200 height=32 back="L2UI_ct1.OlympiadWnd_DF_HeroConfirm_df" fore="L2UI_ct1.OlympiadWnd_DF_HeroConfirm">
<button value="Give me Moirai" action="bypass -h npc_%objectId%_multisell 11000002" width=200 height=32 back="L2UI_ct1.OlympiadWnd_DF_HeroConfirm_df" fore="L2UI_ct1.OlympiadWnd_DF_HeroConfirm">
<button value="Give me Custom Currency" action="bypass -h npc_%objectId%_currency" width=200 height=32 back="L2UI_ct1.OlympiadWnd_DF_HeroConfirm_df" fore="L2UI_ct1.OlympiadWnd_DF_HeroConfirm">

</center>