<title>Admin Panel</title>
<center><table width=260>
<tr>
<td><button value="Main" action="bypass -h admin_admin" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Events" action="bypass -h admin_show_html events/events.htm" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Chars" action="bypass -h admin_char_manage" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Server" action="bypass -h admin_server admserver.htm" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="GM Shop" action="bypass -h admin_gmshop" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr></table></center><br>
<center>Current question:<br1>
%question%
<br>
Ending in:<br1>
%endDate%
<br><br>

%quietStartPause%

%startEndAndAnnounce%
<br>
<button value="Check answers" action="bypass -h admin_poll_current_answers" width=120 height=30 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
<button value="Change question" action="bypass -h admin_poll_set_question" width=120 height=30 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
<button value="Change time" action="bypass -h admin_poll_set_time" width=120 height=30 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
<button value="Delete Poll!" action="bypass -h admin_poll_delete" width=120 height=30 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">

</center>