<center>
<table width=260><tr>
<td width=40><button value="Main" action="bypass -h admin_admin" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td width=180><center>GM Ride commands:</center></td>
<td width=40><button value="Back" action="bypass -h admin_admin" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr></table>
<br><br><br>
Yourself:
<br>
<table width=260>
<tr>
<td><button width=80 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF" action="bypass -h admin_ride_strider" value="Ride strider"></td>
<td><button width=80 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF" action="bypass -h admin_ride_wyvern" value="Ride Wyvern"></td>
<td><button width=80 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF" action="bypass -h admin_unride" value="Unride"></td>
</tr></table>
<br>
Targetted player:
<br>
<table width=260>
<tr>
<td><button width=80 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF" action="bypass -h admin_sr" value="Ride strider"></td>
<td><button width=80 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF" action="bypass -h admin_wr" value="Ride Wyvern"></td>
<td><button width=80 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF" action="bypass -h admin_ur" value="Unride"></td>
</tr></table>
</center>