<center><table border=0 cellspacing=0 cellpadding=0 width=240>
	<tr>
		<td width=60 align=center valign=top>
			<table border=0 cellspacing=0 cellpadding=0 width=32 height=32 background="Icon.skill6154_1">
				<tr>
					<td width=32 height=32 align=center valign=top>
						<button action="bypass _bbsranking:pk" width=34 height=34 back="L2UI_CT1.ItemWindow_DF_Frame_Down" fore="L2UI_CT1.ItemWindow_DF_Frame"/>
					</td>
				</tr>
			</table><br>
			PK
		</td>
		<td width=60 align=center valign=top>
			<table border=0 cellspacing=0 cellpadding=0 width=32 height=32 background="Icon.skill5661">
				<tr>
					<td width=32 height=32 align=center valign=top>
						<button action="bypass _bbsranking:pvp" width=34 height=34 back="L2UI_CT1.ItemWindow_DF_Frame_Down" fore="L2UI_CT1.ItemWindow_DF_Frame"/>
					</td>
				</tr>
			</table><br>
			PvP
		</td>
		<td width=60 align=center valign=top>
			<table border=0 cellspacing=0 cellpadding=0 width=32 height=32 background="Icon.skill6280">
				<tr>
					<td width=32 height=32 align=center valign=top>
						<button action="bypass _bbsranking:rk" width=34 height=34 back="L2UI_CT1.ItemWindow_DF_Frame_Down" fore="L2UI_CT1.ItemWindow_DF_Frame"/>
					</td>
				</tr>
			</table><br>
			RK
		</td>
		<td width=60 align=center valign=top>
			<table border=0 cellspacing=0 cellpadding=0 width=32 height=32 background="Icon.skill6152_1">
				<tr>
					<td width=32 height=32 align=center valign=top>
						<button action="bypass _bbsranking:cis" width=34 height=34 back="L2UI_CT1.ItemWindow_DF_Frame_Down" fore="L2UI_CT1.ItemWindow_DF_Frame"/>
					</td>
				</tr>
			</table><br>
			CIS
		</td>
		<td width=60 align=center valign=top>
			<table border=0 cellspacing=0 cellpadding=0 width=32 height=32 background="Icon.skill6151_1">
				<tr>
					<td width=32 height=32 align=center valign=top>
						<button action="bypass _bbsranking:cip" width=34 height=34 back="L2UI_CT1.ItemWindow_DF_Frame_Down" fore="L2UI_CT1.ItemWindow_DF_Frame"/>
					</td>
				</tr>
			</table><br>
			CIP
		</td>
	</tr>
</table></center>
