<table width=260>
<tr>
<td width=40>
<button value="Main" action="bypass -h admin_admin" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
<td width=180>
<center>Reload Components</center>
</td>
<td width=40>
<button value="Back" action="bypass -h admin_server admserver.htm" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
</table>
<br><br>
[admin_reload_config|Reload All Configs]%%
[admin_reload_announcements|Reload Announcements]%%
[admin_reload_multisell|Reload Multisells]%%
[admin_reload_shops|Reload Shops]%%
[admin_reload_skills|Reload Skills]%%
[admin_reload_npc|Reload NPC and Drop]%%
[admin_reload_spawn|Reload All Spawns]%%
[admin_reload_loc|Reload Locations and Zones]%%
[admin_reload_abuse|Reload Obscene Filter]%%
[admin_reload_translit|Reload Translit]%%
[admin_reload_htm|Clear Filecache]%%
[admin_reload_locale|Reload Localization]%%
[admin_reload_fish|Reload Fish]%%
[admin_reload_gmaccess|Reload Access]%%
[admin_reload_static|Reload Static Objects]%%
[admin_cw_reload|Reload Cursed Weapon]%%
[admin_reload_pets|Reload Pets Table]%%
[admin_reload_instances|Reload Intant zones]%%
[admin_reload_vote|Reload Vote Manager]%%
[admin_reload_im|Reload Item-Mall]%%
[admin_reload_html|Reload Html]ru