<title>Admin Panel</title>
<center><table width=260>
<tr>
<td><button value="Main" action="bypass -h admin_admin" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Events" action="bypass -h admin_show_html events/events.htm" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Chars" action="bypass -h admin_char_manage" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Server" action="bypass -h admin_server admserver.htm" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="GM Shop" action="bypass -h admin_gmshop" width=50 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr></table></center><br>
<center>Choose poll answers(Leave empty fields, if you don't want to use them. Don't use | char):</center><br1>
<table width=280>
	<tr>
		<td width=30 height=35>
			1.
		</td>
		<td width=250 height=35>
			<multiedit var="answer1" width=200 height=35>
		</td>
	</tr>
	<tr>
		<td width=30 height=35>
			2.
		</td>
		<td width=250 height=35>
			<multiedit var="answer2" width=200 height=35>
		</td>
	</tr>
	<tr>
		<td width=30 height=35>
			3.
		</td>
		<td width=250 height=35>
			<multiedit var="answer3" width=200 height=35>
		</td>
	</tr>
	<tr>
		<td width=30 height=35>
			4.
		</td>
		<td width=250 height=35>
			<multiedit var="answer4" width=200 height=35>
		</td>
	</tr>
	<tr>
		<td width=30 height=35>
			5.
		</td>
		<td width=250 height=35>
			<multiedit var="answer5" width=200 height=35>
		</td>
	</tr>
	<tr>
		<td width=30 height=35>
			6.
		</td>
		<td width=250 height=35>
			<multiedit var="answer6" width=200 height=35>
		</td>
	</tr>
	<tr>
		<td width=30 height=35>
			7.
		</td>
		<td width=250 height=35>
			<multiedit var="answer7" width=200 height=35>
		</td>
	</tr>
</table>
<br><br>
<center>
<button value="Add answers" action="bypass -h admin_poll_set_answers $answer1 | $answer2 | $answer3 | $answer4 | $answer5 | $answer6 | $answer7" width=120 height=30 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</center>
