<table width=300 height=2 bgcolor=333333>
	<tr>
		<td width=300>
		</td>
	</tr>
</table>
<table width=300 cellspacing=2 cellpadding=4 height=33 bgcolor=666666>
	<tr>
		<td FIXWIDTH=40 align=right valign=top height=38>
			<table border=0 cellspacing=0 cellpadding=0 width=32 height=32 background="icon.mercenary_certification_i02">
				<tr>
					<td width=32 align=center valign=top>
						<img src="icon.panel_2" width=32 height=32>
					</td>
				</tr>
			</table>
		</td>
		<td FIXWIDTH=192 align=left valign=top>
			<font color="FFCC66">Объявить мир клану.</font><br1>›&nbsp;Вы объявили войну клану!
		</td>
		<td valign="top" align="center">
			<br>
			<button action="<?bypass?>" width="15" height="15" back="L2UI_CT1.Button_DF_Input_Down" fore="L2UI_CT1.Button_DF_Input">
		</td>
	</tr>
</table>