<table valign="top"><center>
<tr><td height=40></td></tr>
<tr><td><button value="News" action="bypass _bbshome" width=130 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr>
<tr><td><button value="Career" action="bypass _bbscareer;" width=130 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr>
<tr><td><button value="Events" action="bypass _bbspage:event" width=130 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr>
<tr><td><button value="Donate" action="bypass _bbspage:donate" width=130 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr>
<tr><td><button value="Vote" action="bypass _bbspage:votepage" width=130 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr>
<tr><td><button value="Statistics" action="bypass _bbspage:stats/stats" width=130 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr>
<tr><td><button value="All Commands" action="bypass _bbspage:newbie" width=130 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr>
<tr><td><button value="Server Staff" action="bypass _bbspage:staff" width=130 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr>
<tr></tr><tr></tr><tr></tr><tr></tr><tr><tr></tr><tr><tr></tr><tr><tr></tr><tr></tr><tr></tr><tr></tr><tr><tr></tr><tr><tr></tr><tr>
<tr><td>Server Website</td></tr>
<tr><td><a action="url !2266">www.l2bfp.com</a></td></tr><tr></tr><tr>
<tr><td>Server Forum</td></tr>
<tr><td><a action="url !2267">www.l2bfp.com/forum</a></td></tr>
</center>
</table>